body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    line-height: 15px;
    font-size: 12px;
}

.img-logo {
    width: 200px;
}

a {
    color: #8fc8eb;
    text-decoration: none;
}

.img-girl {
    width: 100%;
    height: 180px;
    background: url(../assets/img/game.png);
    background-size: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 900px) and (max-width: 1400px) {
    .img-girl {
        width: 70%;
        height: 250px;
        background: url(../assets/img/game.png) 0% 47% / 100%;
    }
}

@media screen and (min-width: 1400px) {
    .img-girl {
        width: 70%;
        height: 350px;
        background: url(../assets/img/game.png) 0% 47% / 100%;
    }
}

.btn-main {
    color: #f1f1f1;
    background-color: #f98ef4;
    border: 1px solid #ddd;
}

.btn-main:hover {
    color: #f1f1f1;
}
